.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    max-width: 1600px;
    width: calc(100vw - 150px);
    height: calc(100vh - 150px);
    padding-bottom: 10px;
    margin: auto 0;
}

@media only screen and (max-width: 640px) {
    .container {
        width: calc(100vw - 60px);
        height: calc(100vh - 60px);
        margin: 0;
        margin-bottom: 70px;
    }
}

@media only screen and (max-height: 520px) {
    .container {
        width: 100vw;
    }
}