.Intro {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #0c0c0c;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
  flex-direction: column;
  z-index: 99999;
}

.Intro p {
  font-size: 0.95em;
  text-align: center;
  margin: 0;
  color: #d49d81;
  font-weight: 700;
  opacity: 0.7;
  z-index: 100;
  font-family: "DM Serif Display", serif;
  margin-bottom: -3px;
  margin-top: 5px;
}

.Intro-b {
  font-family: "Poppins", sans-serif;
  color: rgb(245, 244, 244);
  font-size: 0.75em;
  text-align: center;
  margin: 0;
  /* margin-bottom: 7vh; */
  opacity: 0;
  font-weight: 800;
  animation-name: Intro;
  -webkit-animation-name: Intro;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  z-index: 100;
}

@keyframes Intro {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

.GrapheneIntro {
  position: relative; /* Make it a positioned ancestor */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%; /* Changed from max-content */
  width: max-content;
}
