.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #d49d81;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 99900;
  pointer-events: none;
  transition: opacity 0.2s, left 100ms, top 100ms, width 0.2s, height 0.2s;
}

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #d49d81;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 99900;
  pointer-events: none;
  -webkit-transition-duration: 20ms;
  transition-duration: 20ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  transition: width 0.2s, height 0.2s, left 20ms, top 20ms;
}
