.CapturedMoments {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 20px);
  height: calc(100% - 160px);
  margin: 80px 0;
}
.CapturedMomentsImages {
  display: flex;
  justify-content: flex-start;
  width: calc((300 * 120 / 200) * 4px - 90px);
  height: calc((300 + 30) * 1px);
  /* overflow: hidden; */
}
.CapturedMomentsImg {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 340px;
  margin-bottom: 30px;
  min-width: calc(300px * 120 / 200);
  overflow-x: hidden;
  overflow-y: hidden;

  z-index: 10;
}
.CapturedMomentsImg img {
  width: calc(300px * 120 / 200);
  height: 300px;
  border-radius: calc(90px * 3 / 2);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
  -webkit-filter: opacity(0.6);
  filter: opacity(0.6);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  transition: margin-top 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  transition: margin-top 0.3s ease-in-out, filter 0.3s ease-in-out;
  transition: margin-top 0.3s ease-in-out, filter 0.3s ease-in-out,
    -webkit-filter 0.3s ease-in-out;
  transition: margin-top 0.3s ease-in-out, filter 0.3s ease-in-out,
    -webkit-filter 0.3s ease-in-out;
  transition: margin-top 0.3s ease-in-out, filter 0.3s ease-in-out,
    -webkit-filter 0.3s ease-in-out;
  transition: margin-top 0.3s ease-in-out, filter 0.3s ease-in-out,
    -webkit-filter 0.3s ease-in-out;
  transition: margin-top 0.3s ease-in-out, filter 0.3s ease-in-out,
    -webkit-filter 0.3s ease-in-out;
  transition: margin-top 0.3s ease-in-out, filter 0.3s ease-in-out,
    -webkit-filter 0.3s ease-in-out;
  transition: margin-top 0.3s ease-in-out, filter 0.3s ease-in-out,
    -webkit-filter 0.3s ease-in-out;
}
.CapturedMomentsImg:hover img {
  margin-top: -2px;
  -webkit-filter: opacity(0.8);
  filter: opacity(0.8);
}
.CapturedMomentsLine:nth-child(2) {
  margin-left: calc(300px * 120 / 200);
}
.CapturedMomentsLine:nth-child(3) {
  margin-left: calc(300px * 120 / 200 - 32px);
}
.CapturedMomentsLines {
  position: fixed;
  display: flex;
  align-items: center;
  width: calc((300 * 120 / 200) * 4px);
  z-index: 10;
}
.CapturedMomentsLine {
  margin-left: calc(300px * 120 / 200 + 15px);
  width: 1px;
  height: 300px;
  margin-top: 50px;
  background: #fff;
  opacity: 0.2;
  border-radius: 100%;
}
.CapturedMoments p {
  position: absolute;
  color: #faf9f1;
  font-family: "DM Serif Display", serif;
  font-size: 150px;
  font-weight: 100;
  white-space: nowrap;
  perspective: 400px;
  text-align: initial;
  background: linear-gradient(to right, #faf5f3a2 0%, #ff5500e0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -220px;
  opacity: 0.5;
}

.CapturedMomentsborder {
  transform: translateY(0px);
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: 294px;
  margin-bottom: 30px;
  min-width: calc(300px * 120 / 200);
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-filter: opacity(0.6);
  filter: opacity(0.6);
  background: linear-gradient(to right, #faf5f32d 0%, #ff550017 100%);
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  border: solid 1px #fff;
  border-radius: 109px;
}

.LastNext {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: calc((100% - 350px) / 3);
  right: calc(50% - 310px / 2);
  align-items: center;
  justify-content: center;
  width: 350px;
}

.LastNextC {
  cursor: pointer;
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: 1000000; */
  background-color: #00000060;
  border-radius: 100px;
  flex-direction: row;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin: 0 5px;
  border: solid 2px #d49d812a;
  transition: width 0.3s ease-in-out, border 0.3s ease-in-out;
  position: absolute;
}

.LastNextC span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  text-decoration: none !important;
  color: #faf9f1;
  opacity: 0.8;
  font-weight: 500;
  overflow: hidden;
  font-size: 11px;
  font-family: "Poppins", sans-serif;
}
.LastNextC:nth-child(2) span {
  margin-right: -5px;
  margin-left: 5px;
}
.LastNextC svg:first-child {
  margin-right: -15px;
  color: #d49d81;
  width: 22px;
  height: 22px;
  transform: translateX(-5px);
  transition: transform 0.3s ease-in-out;
  opacity: 0.8;
}
.LastNextC svg:last-child {
  margin-left: -15px;
  color: #d49d81;
  width: 22px;
  height: 22px;
  transform: translateX(5px);
  transition: transform 0.3s ease-in-out;
  opacity: 0.8;
}

.LastNextC:nth-child(2) .Line {
  width: 15px;
  height: 3px;
  border-radius: 20%;
  background-color: #d49d81;
  margin: 0 -0px 0 0;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.LastNextC:first-child .Line {
  width: 15px;
  height: 3px;
  border-radius: 20%;
  background-color: #d49d81;
  margin: 0 -5px 0 0;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.LastNextC:first-child:hover svg {
  transform: translateX(-10px);
}
.LastNextC:first-child:hover span {
  transform: translateX(5px);
}
.LastNextC:nth-child(2):hover span {
  transform: translateX(-5px);
}
.LastNextC:first-child:hover .Line {
  transform: translateX(-10px);
  opacity: 0.8;
}
.LastNextC:nth-child(2):hover .Line {
  transform: translateX(10px);
  opacity: 0.8;
}
.LastNextC:nth-child(2):hover svg {
  transform: translateX(10px);
}
.LastNextC:nth-child(2):hover svg {
  transform: translateX(10px);
}

.LastNextC:hover {
  width: 160px;
  border: solid 2px #d49d8159;
}

.NextCat {
  width: 150px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: 1000000; */
  background: linear-gradient(to right, #faf5f310 0%, #ff550018 100%);
  border-radius: 100px;
  flex-direction: row;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: width 0.3s ease-in-out, border 0.3s ease-in-out;
  border: solid 2px #d49d812a;
  position: absolute;
  cursor: pointer;
}
.NextCat:hover {
  border: solid 2px #d49d8159;
}
.NextCat span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  text-decoration: none !important;
  color: #faf9f1;
  opacity: 0.7;
  font-weight: 600;
  overflow: hidden;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: initial;
  background: linear-gradient(to right, #faf5f3a2 0%, #ff5500e0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
