body {
  overflow: hidden;
  color: var(--color-text-body);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  /* Hide vertical scrollbar */
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  margin: 0;
}

#root {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}

#root {
  overflow: hidden;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.MainBackground {
  background-image: url("./assets/Home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-primary);
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}